<div class="mainBox pure-g">

  <div class="leftBox pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-5">

    <div class="leftCard">

      <h2>Following</h2>

      <ul>
      {{#each friendsList as |friend|}}
        <li>{{friend}}</li>
      {{/each}}
      </ul>

      <ul>
        <li>Friend 1</li>
        <li>Friend 2</li>
        <li>Friend 3</li>
        <li>Friend 4</li>
        <li>Friend 5</li>
      </ul>

    </div>

  </div>

  <div class="rightBox pure-u-1 pure-u-sm-1-2 pure-u-md-2-3 pure-u-lg-4-5">

    <div class="rightCard pure-g">

      <div class="subHeader pure-u-1">
          <div><h2>The Feed</h2></div>
          <div><button id="newPhoto">+friend</button></div>
      </div>

      <!-- image gallery of user's photos -->

      {{#each photos as |photo|}} -->
      <div class="foodCard pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-3">
        <a href="{{photo.review}}">
          <img src="{{photo.url}}" alt="{{photo.id}}">{{photo.id}}
        </a>
      </div>
      {{/each}}

      <div class="foodCard pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-3">
        <a href="{{photo.review}}">
          <img src="{{photo.url}}" alt="{{photo.id}}">{{photo.id}}
        </a>
      </div>

      <div class="foodCard pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-3">
        <a href="{{photo.review}}">
          <img src="{{photo.url}}" alt="{{photo.id}}">{{photo.id}}
        </a>
      </div>

      <div class="foodCard pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-3">
        <a href="{{photo.review}}">
          <img src="{{photo.url}}" alt="{{photo.id}}">{{photo.id}}
        </a>
      </div>

      <div class="foodCard pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-3">
        <a href="{{photo.review}}">
          <img src="{{photo.url}}" alt="{{photo.id}}">{{photo.id}}
        </a>
      </div>

    </div>

  </div>

</div>















{{!-- <div class="menu-container">
  <div class="card-header col-md-12 text-center">
    <h2>
      &#127869 Current Menu
    </h2>
  </div>
  {{#each dishes as |dish|}}
  <div class="dish col-md-4">
    <p>
      {{dish.id}}.
      {{dish.dish_name}}
    </p>
  </div>
  <div class="col-md-5">
    <p>
      Guest:
      {{dish.guest_name}}
    </p>
  </div>
  <div class="col-md-3">
    🥜: {{#if dish.has_nuts}} Contains nuts {{else}} No nuts {{/if}}
  </div>
  {{/each}}
  <!-- This is the form for adding a new dish -->
  <div class="add-dish-container">
    <h2>
      RSVP with the dish you plan to bring!
    </h2>
    <form class="new-dish-form">
      <label for="dish_name">
        Dish Name:
      </label>
      <br />
      <textarea id="dish_name" name="dish_name" rows="2" cols="30">
      {{dish_name}}
    </textarea>
      <br />
      <label for="description">
        Description:
      </label>
      <br />
      <textarea id="description" name="description" rows="5" cols="30">
      {{description}}
    </textarea>
      <br />
      <label for="guest_name">
        Guest Name:
      </label>
      <br />
      <textarea id="guest_name" name="guest_name" rows="2" cols="30">
      {{guest_name}}
    </textarea>
      <br />
      <br />
      {{#if has_nuts}}
      <input type="checkbox" id="has_nuts" name="has_nuts" checked />
      {{else}}
      <input type="checkbox" id="has_nuts" name="has_nuts" />
      {{/if}}
      <label for="has_nuts">
        Check box if this dish contains nuts
      </label>
      <br />
      <button type="submit" value="Submit">
        Submit
      </button>
    </form>
  </div>
</div>

<script src="/js/add-dish.js"></script> --}}
