<div class="mainBox pure-g">

  <div class="leftBox pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-5">

    <div class="leftCard">

      <h2>Following</h2>

      <ul>
      {{#each following}}
        <li>{{username}}</li>
        <form class="unfollowForm"action="/api/users/unfollow/{{id}}" method="post" >
            <input class="unfollowInput" name="_method" type="hidden" value="delete">
            <button class ="unfollowButton"type="submit"  id= "{{id}}" value="{{id}}">Unfollow</button>
            </form>
        <br>
      {{/each}}
      </ul>

    </div>

  </div>

  <div class="rightBox pure-u-1 pure-u-sm-1-2 pure-u-md-2-3 pure-u-lg-4-5">

    <div class="rightCard pure-g">

      <div class="subHeader pure-u-1">
          <div><h2>The Feed</h2></div>
          <div><button><a id="upload_widget" href="#open-modal" class="followButton">+follow</a></button></div>
      </div>

      
      <!-- image gallery of user's photos -->
    {{#each following}}
    {{#if img}}
      <div class="foodCard pure-u-1 pure-u-sm-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
        <a href="#">
          <h4>{{username}}</h4>
          <img src={{img}} alt="test"><br />
          <span id="">{{description}}</span>
        </a>
      </div>
      {{/if}}
      {{/each}}


    </div>

  </div>

</div>

<div id="open-modal" class="modal-window">
  <div>
    <a href="#modal-close" title="Close" class="modal-close">close &times;</a>
    <form id="searchForm">
        <h1>Add Friend</h1>
        <input type="text" id="friendSearchInput">
        <button id="friendSearchButton" value=>follow!</button>
      </form>
  </div>
</div>

<script src="/assets/js/friends.js"></script>













